body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
}

header a:hover{
    text-decoration: underline blue;
    color: blue;
}

article{
    display: flex;
    flex-flow: column;
    margin: 0rem 1rem;
}

.news-row{
    display: flex;
    margin: 0.5rem 1rem;
    justify-content: space-between;
}

.title-link{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.title-link p{
    align-self: flex-start;
}

.title-link a{
    align-self: flex-end;
    color: red;
}

footer{
    display: flex;
}

#black-footer{
    background-color: black;
    height: 0.25rem;
    width: 50%;
}

#grey-footer{
    background-color: grey;
    height: 0.25rem;
    width: 50%;
}







